
.icon-aerialway-11:before { content: '\e800'; } /* '' */
.icon-aerialway-15:before { content: '\e801'; } /* '' */
.icon-airfield-11:before { content: '\e802'; } /* '' */
.icon-airfield-15:before { content: '\e803'; } /* '' */
.icon-airport-11:before { content: '\e804'; } /* '' */
.icon-airport-15:before { content: '\e805'; } /* '' */
.icon-alcohol-shop-11:before { content: '\e806'; } /* '' */
.icon-alcohol-shop-15:before { content: '\e807'; } /* '' */
.icon-america-football-11:before { content: '\e808'; } /* '' */
.icon-america-football-15:before { content: '\e809'; } /* '' */
.icon-amusement-park-11:before { content: '\e80a'; } /* '' */
.icon-amusement-park-15:before { content: '\e80b'; } /* '' */
.icon-aquarium-11:before { content: '\e80c'; } /* '' */
.icon-aquarium-15:before { content: '\e80d'; } /* '' */
.icon-art-gallery-11:before { content: '\e80e'; } /* '' */
.icon-art-gallery-15:before { content: '\e80f'; } /* '' */
.icon-attraction-11:before { content: '\e810'; } /* '' */
.icon-attraction-15:before { content: '\e811'; } /* '' */
.icon-bakery-11:before { content: '\e812'; } /* '' */
.icon-bakery-15:before { content: '\e813'; } /* '' */
.icon-bank-11:before { content: '\e814'; } /* '' */
.icon-bank-15:before { content: '\e815'; } /* '' */
.icon-bar-11:before { content: '\e816'; } /* '' */
.icon-bar-15:before { content: '\e817'; } /* '' */
.icon-baseball-11:before { content: '\e818'; } /* '' */
.icon-baseball-15:before { content: '\e819'; } /* '' */
.icon-basketball-11:before { content: '\e81a'; } /* '' */
.icon-basketball-15:before { content: '\e81b'; } /* '' */
.icon-beer-11:before { content: '\e81c'; } /* '' */
.icon-beer-15:before { content: '\e81d'; } /* '' */
.icon-bicycle-11:before { content: '\e81e'; } /* '' */
.icon-bicycle-15:before { content: '\e81f'; } /* '' */
.icon-bicycle-share-11:before { content: '\e820'; } /* '' */
.icon-bicycle-share-15:before { content: '\e821'; } /* '' */
.icon-building-11:before { content: '\e822'; } /* '' */
.icon-building-15:before { content: '\e823'; } /* '' */
.icon-bus-11:before { content: '\e824'; } /* '' */
.icon-bus-15:before { content: '\e825'; } /* '' */
.icon-cafe-11:before { content: '\e826'; } /* '' */
.icon-cafe-15:before { content: '\e827'; } /* '' */
.icon-campsite-11:before { content: '\e828'; } /* '' */
.icon-campsite-15:before { content: '\e829'; } /* '' */
.icon-car-11:before { content: '\e82a'; } /* '' */
.icon-car-15:before { content: '\e82b'; } /* '' */
.icon-castle-11:before { content: '\e82c'; } /* '' */
.icon-castle-15:before { content: '\e82d'; } /* '' */
.icon-cemetery-11:before { content: '\e82e'; } /* '' */
.icon-cemetery-15:before { content: '\e82f'; } /* '' */
.icon-cinema-11:before { content: '\e830'; } /* '' */
.icon-cinema-15:before { content: '\e831'; } /* '' */
.icon-circle-11:before { content: '\e832'; } /* '' */
.icon-circle-15:before { content: '\e833'; } /* '' */
.icon-circle-stroked-11:before { content: '\e834'; } /* '' */
.icon-circle-stroked-15:before { content: '\e835'; } /* '' */
.icon-clothing-store-11:before { content: '\e836'; } /* '' */
.icon-clothing-store-15:before { content: '\e837'; } /* '' */
.icon-college-11:before { content: '\e838'; } /* '' */
.icon-college-15:before { content: '\e839'; } /* '' */
.icon-commercial-11:before { content: '\e83a'; } /* '' */
.icon-commercial-15:before { content: '\e83b'; } /* '' */
.icon-cricket-11:before { content: '\e83c'; } /* '' */
.icon-cricket-15:before { content: '\e83d'; } /* '' */
.icon-cross-11:before { content: '\e83e'; } /* '' */
.icon-cross-15:before { content: '\e83f'; } /* '' */
.icon-dam-11:before { content: '\e840'; } /* '' */
.icon-dam-15:before { content: '\e841'; } /* '' */
.icon-danger-11:before { content: '\e842'; } /* '' */
.icon-danger-15:before { content: '\e843'; } /* '' */
.icon-dentist-11:before { content: '\e844'; } /* '' */
.icon-dentist-15:before { content: '\e845'; } /* '' */
.icon-doctor-11:before { content: '\e846'; } /* '' */
.icon-doctor-15:before { content: '\e847'; } /* '' */
.icon-dog-park-11:before { content: '\e848'; } /* '' */
.icon-dog-park-15:before { content: '\e849'; } /* '' */
.icon-drinking-water-11:before { content: '\e84a'; } /* '' */
.icon-drinking-water-15:before { content: '\e84b'; } /* '' */
.icon-embassy-11:before { content: '\e84c'; } /* '' */
.icon-embassy-15:before { content: '\e84d'; } /* '' */
.icon-entrance-11:before { content: '\e84e'; } /* '' */
.icon-entrance-15:before { content: '\e84f'; } /* '' */
.icon-farm-11:before { content: '\e850'; } /* '' */
.icon-farm-15:before { content: '\e851'; } /* '' */
.icon-fast-food-11:before { content: '\e852'; } /* '' */
.icon-fast-food-15:before { content: '\e853'; } /* '' */
.icon-ferry-11:before { content: '\e854'; } /* '' */
.icon-ferry-15:before { content: '\e855'; } /* '' */
.icon-fire-station-11:before { content: '\e856'; } /* '' */
.icon-fire-station-15:before { content: '\e857'; } /* '' */
.icon-fuel-11:before { content: '\e858'; } /* '' */
.icon-fuel-15:before { content: '\e859'; } /* '' */
.icon-garden-11:before { content: '\e85a'; } /* '' */
.icon-garden-15:before { content: '\e85b'; } /* '' */
.icon-garden-center-11:before { content: '\e85c'; } /* '' */
.icon-garden-center-15:before { content: '\e85d'; } /* '' */
.icon-gift-11:before { content: '\e85e'; } /* '' */
.icon-gift-15:before { content: '\e85f'; } /* '' */
.icon-golf-11:before { content: '\e860'; } /* '' */
.icon-golf-15:before { content: '\e861'; } /* '' */
.icon-grocery-11:before { content: '\e862'; } /* '' */
.icon-grocery-15:before { content: '\e863'; } /* '' */
.icon-hairdresser-11:before { content: '\e864'; } /* '' */
.icon-hairdresser-15:before { content: '\e865'; } /* '' */
.icon-harbor-11:before { content: '\e866'; } /* '' */
.icon-harbor-15:before { content: '\e867'; } /* '' */
.icon-heart-11:before { content: '\e868'; } /* '' */
.icon-heart-15:before { content: '\e869'; } /* '' */
.icon-heliport-11:before { content: '\e86a'; } /* '' */
.icon-heliport-15:before { content: '\e86b'; } /* '' */
.icon-hospital-11:before { content: '\e86c'; } /* '' */
.icon-hospital-15:before { content: '\e86d'; } /* '' */
.icon-ice-cream-11:before { content: '\e86e'; } /* '' */
.icon-ice-cream-15:before { content: '\e86f'; } /* '' */
.icon-industry-11:before { content: '\e870'; } /* '' */
.icon-industry-15:before { content: '\e871'; } /* '' */
.icon-information-11:before { content: '\e872'; } /* '' */
.icon-information-15:before { content: '\e873'; } /* '' */
.icon-laundry-11:before { content: '\e874'; } /* '' */
.icon-laundry-15:before { content: '\e875'; } /* '' */
.icon-library-11:before { content: '\e876'; } /* '' */
.icon-library-15:before { content: '\e877'; } /* '' */
.icon-lighthouse-11:before { content: '\e878'; } /* '' */
.icon-lighthouse-15:before { content: '\e879'; } /* '' */
.icon-lodging-11:before { content: '\e87a'; } /* '' */
.icon-lodging-15:before { content: '\e87b'; } /* '' */
.icon-marker-11:before { content: '\e87c'; } /* '' */
.icon-marker-15:before { content: '\e87d'; } /* '' */
.icon-monument-11:before { content: '\e87e'; } /* '' */
.icon-monument-15:before { content: '\e87f'; } /* '' */
.icon-mountain-11:before { content: '\e880'; } /* '' */
.icon-mountain-15:before { content: '\e881'; } /* '' */
.icon-museum-11:before { content: '\e882'; } /* '' */
.icon-museum-15:before { content: '\e883'; } /* '' */
.icon-music-11:before { content: '\e884'; } /* '' */
.icon-music-15:before { content: '\e885'; } /* '' */
.icon-park-11:before { content: '\e886'; } /* '' */
.icon-park-15:before { content: '\e887'; } /* '' */
.icon-parking-11:before { content: '\e888'; } /* '' */
.icon-parking-15:before { content: '\e889'; } /* '' */
.icon-parking-garage-11:before { content: '\e88a'; } /* '' */
.icon-parking-garage-15:before { content: '\e88b'; } /* '' */
.icon-pharmacy-11:before { content: '\e88c'; } /* '' */
.icon-pharmacy-15:before { content: '\e88d'; } /* '' */
.icon-picnic-site-11:before { content: '\e88e'; } /* '' */
.icon-picnic-site-15:before { content: '\e88f'; } /* '' */
.icon-pitch-11:before { content: '\e890'; } /* '' */
.icon-pitch-15:before { content: '\e891'; } /* '' */
.icon-place-of-worship-11:before { content: '\e892'; } /* '' */
.icon-place-of-worship-15:before { content: '\e893'; } /* '' */
.icon-playground-11:before { content: '\e894'; } /* '' */
.icon-playground-15:before { content: '\e895'; } /* '' */
.icon-police-11:before { content: '\e896'; } /* '' */
.icon-police-15:before { content: '\e897'; } /* '' */
.icon-post-11:before { content: '\e898'; } /* '' */
.icon-post-15:before { content: '\e899'; } /* '' */
.icon-prison-11:before { content: '\e89a'; } /* '' */
.icon-prison-15:before { content: '\e89b'; } /* '' */
.icon-rail-11:before { content: '\e89c'; } /* '' */
.icon-rail-15:before { content: '\e89d'; } /* '' */
.icon-rail-light-11:before { content: '\e89e'; } /* '' */
.icon-rail-light-15:before { content: '\e89f'; } /* '' */
.icon-rail-metro-11:before { content: '\e8a0'; } /* '' */
.icon-rail-metro-15:before { content: '\e8a1'; } /* '' */
.icon-ranger-station-11:before { content: '\e8a2'; } /* '' */
.icon-ranger-station-15:before { content: '\e8a3'; } /* '' */
.icon-religious-christian-11:before { content: '\e8a4'; } /* '' */
.icon-religious-christian-15:before { content: '\e8a5'; } /* '' */
.icon-religious-jewish-11:before { content: '\e8a6'; } /* '' */
.icon-religious-jewish-15:before { content: '\e8a7'; } /* '' */
.icon-religious-muslim-11:before { content: '\e8a8'; } /* '' */
.icon-religious-muslim-15:before { content: '\e8a9'; } /* '' */
.icon-restaurant-11:before { content: '\e8aa'; } /* '' */
.icon-restaurant-15:before { content: '\e8ab'; } /* '' */
.icon-roadblock-11:before { content: '\e8ac'; } /* '' */
.icon-roadblock-15:before { content: '\e8ad'; } /* '' */
.icon-rocket-11:before { content: '\e8ae'; } /* '' */
.icon-rocket-15:before { content: '\e8af'; } /* '' */
.icon-school-11:before { content: '\e8b0'; } /* '' */
.icon-school-15:before { content: '\e8b1'; } /* '' */
.icon-shelter-11:before { content: '\e8b2'; } /* '' */
.icon-shelter-15:before { content: '\e8b3'; } /* '' */
.icon-shop-11:before { content: '\e8b4'; } /* '' */
.icon-shop-15:before { content: '\e8b5'; } /* '' */
.icon-skiing-11:before { content: '\e8b6'; } /* '' */
.icon-skiing-15:before { content: '\e8b7'; } /* '' */
.icon-soccer-11:before { content: '\e8b8'; } /* '' */
.icon-soccer-15:before { content: '\e8b9'; } /* '' */
.icon-square-11:before { content: '\e8ba'; } /* '' */
.icon-square-15:before { content: '\e8bb'; } /* '' */
.icon-square-stroke-11:before { content: '\e8bc'; } /* '' */
.icon-square-stroke-15:before { content: '\e8bd'; } /* '' */
.icon-stadium-11:before { content: '\e8be'; } /* '' */
.icon-stadium-15:before { content: '\e8bf'; } /* '' */
.icon-star-11:before { content: '\e8c0'; } /* '' */
.icon-star-15:before { content: '\e8c1'; } /* '' */
.icon-star-stroke-11:before { content: '\e8c2'; } /* '' */
.icon-star-stroke-15:before { content: '\e8c3'; } /* '' */
.icon-suitcase-11:before { content: '\e8c4'; } /* '' */
.icon-suitcase-15:before { content: '\e8c5'; } /* '' */
.icon-sushi-11:before { content: '\e8c6'; } /* '' */
.icon-sushi-15:before { content: '\e8c7'; } /* '' */
.icon-swimming-11:before { content: '\e8c8'; } /* '' */
.icon-swimming-15:before { content: '\e8c9'; } /* '' */
.icon-telephone-11:before { content: '\e8ca'; } /* '' */
.icon-telephone-15:before { content: '\e8cb'; } /* '' */
.icon-tennis-11:before { content: '\e8cc'; } /* '' */
.icon-tennis-15:before { content: '\e8cd'; } /* '' */
.icon-theatre-11:before { content: '\e8ce'; } /* '' */
.icon-theatre-15:before { content: '\e8cf'; } /* '' */
.icon-toilet-11:before { content: '\e8d0'; } /* '' */
.icon-toilet-15:before { content: '\e8d1'; } /* '' */
.icon-town-hall-11:before { content: '\e8d2'; } /* '' */
.icon-town-hall-15:before { content: '\e8d3'; } /* '' */
.icon-triangle-11:before { content: '\e8d4'; } /* '' */
.icon-triangle-15:before { content: '\e8d5'; } /* '' */
.icon-triangle-stroked-11:before { content: '\e8d6'; } /* '' */
.icon-triangle-stroked-15:before { content: '\e8d7'; } /* '' */
.icon-veterinary-11:before { content: '\e8d8'; } /* '' */
.icon-veterinary-15:before { content: '\e8d9'; } /* '' */
.icon-volcano-11:before { content: '\e8da'; } /* '' */
.icon-volcano-15:before { content: '\e8db'; } /* '' */
.icon-warehouse-11:before { content: '\e8dc'; } /* '' */
.icon-warehouse-15:before { content: '\e8dd'; } /* '' */
.icon-waste-basket-11:before { content: '\e8de'; } /* '' */
.icon-waste-basket-15:before { content: '\e8df'; } /* '' */
.icon-water-11:before { content: '\e8e0'; } /* '' */
.icon-water-15:before { content: '\e8e1'; } /* '' */
.icon-wetland-11:before { content: '\e8e2'; } /* '' */
.icon-wetland-15:before { content: '\e8e3'; } /* '' */
.icon-wheelchair-11:before { content: '\e8e4'; } /* '' */
.icon-wheelchair-15:before { content: '\e8e5'; } /* '' */
.icon-zoo-11:before { content: '\e8e6'; } /* '' */
.icon-zoo-15:before { content: '\e8e7'; } /* '' */